<div class="profile-sidebar">
	<div class="profile-userpic">
		<img ng-src="{{user.avatar_url}}" class="img-responsive" alt="">
	</div>
	<div class="text-center">
		<h4>{{user.name}}<br /><small>@{{user.login}}</small></h4>
	</div>

	<div class="profile-usermenu">
		<ul class="nav">
			<li class="active"><a href="#"><i class="glyphicon glyphicon-user"></i> Overview</a></li>
			<li><a href="#"><i class="glyphicon glyphicon-book"></i> Repositories</a></li>
			<li><a href="#"><i class="glyphicon glyphicon-star"></i> Starred</a></li>
			<li><a href="#"><i class="glyphicon glyphicon-heart"></i> Followers</a></li>
			<li><a href="#"><i class="glyphicon glyphicon-th"></i> Following</a></li>
		</ul>
	</div>
</div>